@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031321;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 5%;
}

div{
    font-family: "Press Start 2P";
    font-size: 14pt;
    padding: 40px;
    text-align: right;
}

.bar div{
    padding: 0.9em;
    background-color: #ddd;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.726);
    text-align: left;
    border-radius: 35px;
}

.bar div:nth-child(1){
    position: absolute;
    top: 21%;
    bottom: 0;
    width: 10%;
    height: 4%;
    background: linear-gradient(to right, orange, rgb(255, 56, 56));  
    animation: barra 1s ease-in-out forwards;
}

.bar div:nth-child(1)::after{
    content: "25%";
    position: absolute;
    right: 20px;
}

.bar div:nth-child(1):hover{
    transform: skewY(5deg);
}

.bar div:nth-child(2){
    position: absolute;
    top: 32%;
    bottom: 0;
    width: 6%;
    height: 4%;
    background: linear-gradient(to right, #0293f6, rgb(55, 55, 253));
    animation: barra 1.5s ease-in-out forwards;
}

.bar div:nth-child(2)::after{
    content: "20%";
    position: absolute;
    right: 20px;
}

.bar div:nth-child(2):hover{
    transform: skewY(-5deg);
}

.bar div:nth-child(3){
    position: absolute;
    top: 43%;
    bottom: 0;
    width: 6%;
    height: 4%;
    background: linear-gradient(to right, rgb(235, 235, 0), orange);
    animation: barra 2s ease-in-out forwards;
}

.bar div:nth-child(3)::after{
    content: "20%";
    position: absolute;
    right: 20px;
}

.bar div:nth-child(3):hover{
    transform: skewY(5deg);
}

.bar div:nth-child(4){
    position: absolute;
    top: 53%;
    bottom: 0;
    width: 7%;
    height: 4%;
    background: linear-gradient(to right, #007bff, purple);
    animation: barra 2.5s ease-in-out forwards;
}

.bar div:nth-child(4)::after{
    content: "22%";
    position: absolute;
    right: 20px;
}

.bar div:nth-child(4):hover{
    transform: skewY(-5deg);
}

.bar div:nth-child(5){
    position: absolute;
    top: 64%;
    bottom: 0;
    width: 4%;
    height: 4%;
    background: linear-gradient(to right, #006ea4, rgb(221, 221, 0));
    animation: barra 2.7s ease-in-out forwards;
}

.bar div:nth-child(5)::after{
    content: "10%";
    position: absolute;
    right: 20px;
}

.bar div:nth-child(5):hover{
    transform: skewY(5deg);
}

.bar div:nth-child(6){
    position: absolute;
    top: 75%;
    bottom: 0;
    width: 5%;
    height: 4%;
    background: linear-gradient(to right, #ddd, #00cd5b);
    animation: barra 2.8s ease-in-out forwards;
}

.bar div:nth-child(6)::after{
    position: absolute;
    right: 20px;
    content: "12%";
}

.bar div:nth-child(6):hover{
    transform: skewY(-5deg);
}

.images img{
    padding: 25px;
    transform: translate(-5vw, 0);
}

@keyframes barra{
    from{
        width: 5em;
    }
}
